* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}
.main_page {
    top: 0;
   max-width: 100%; ; 
   width: 100%;
    height: auto;
    z-index: -1000;
}
.main_page img {
    width: 100%;
}

.top_btn {
    position: absolute;
    top: 6%;
    right: 12%;
    display: flex;
    flex-direction: row;
    width: 19vw;
    height: auto;
    padding: 0;
    margin: 0;
    transform: scale(1.4);
}
.want_job {
    width: 50%;
}
.contact {
    width: 50%;
}

.activity {
    position: absolute;
    top: 36%;
    left: 13%;
    width: 30vw;
    /* transform: scale(1.4); */
}
img {
    width: 100%;
}

.get_demo {
    position: absolute;
    top: 30%;
    right: 6%;
    width: 40vw;
    /* transform: scale(1.4); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* * {
    box-sizing: border-box;
    margin: 10;
    padding: 0;
}
body {
    height: 10vh;
    display: flex;
    justify-content: right;
    align-items: right;
    border-radius: 8px;
    /* background: rgb(25,12,41); */
.get_demo .blank_rect {
    width: 120%;
    height: 60vh;
    box-shadow: 0px 0px 10px #888;
    color: #21829c;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
}

.get_demo .demo_btn{
    width: 30%;
}

.get_demo .blank_rect:focus {
    outline: 1px solid #21829c;
    border-radius: 8px;
}

.afsheen {
    position: absolute;
    left:360px;
    width: 40%;  
    height: 0vh;
    top:470px;
    z-index: 1;

}

.uutt {
    position: absolute;
    left:170px ;
    width: 80%;  
    height: 0vh;
    top: 110%; 
    z-index: 1; 
}


.get_kyc_verified {
    position: absolute;
    left: 2%;
    transform: translateX(-100%) scale(1.4);
    top: 190%;
}

.yaya {
    position: absolute;
    left:500px;
    width: 30%;  
    height: 0vh;
    top: 510px; 
    z-index: 1;
}

.hire_now {
    position: absolute;
    left: 2%;
    transform: translateX(-50%) scale(1.4);
    top: 280%;
}

.hasini{
    position: absolute;
    left: 380px;
    /* transform: translateX(-100%) scale(1.4); */
    top: 310%;

}

.sana{
    position: absolute;
    left: 500px;
    /* transform: translateX(-100%) scale(1.4); */
    top: 335%;

}
.amit{
    position:relative;
    width:350px;
    height:50px;
    top:1860px;
    left:550px;
    font-size:30px;
    color:  #21829c;
    font-weight: bold;
    text-align:center;
}

/* .Query {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40000px;
    width: 990px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
} */
/* 
.query .inp_div {
    margin: 20px;
}

.query .inp_div input {
    margin-left: 100px;
    border-top: none;
    border-left: none;
    border-right: none;
    /* border-bottom: 4px solid #8888; */
    /* outline: none;
    width: 650px;
    padding: 5px;
    font-size: 2em; */
    /* transition: 0.4s; */
/* } */
/* .query .inp_div input:focus {
    border-bottom: 2px dashed #21829c;
    transition: 0.4s;
    outline: 1px solid #21829c;
    border-radius: 8px;
    
}

.query .inp_div label {
    font-size: 23px;
    font-weight: 300;
    color: #21829c;
} */ 
.moni{
    width: 750px;
    height:350px;
    top:1800px;
    background-color:white;
    position:relative;
    margin-left:390px;
    align-items:center;  
    border-radius:12px;
    border-left:2px solid #21829c;
    border-top:2px solid  #21829c;
    border-right:2px solid  #21829c;
    border-bottom:2px solid  #21829c;

}
.pusp{
    position:relative;
    left:30px;
    top: 16px;
    font-size:20px;
}
.pisp_one{
    padding:6px 200px;
    margin:8px 45px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    border-bottom:2px solid  #21829c;

}
.pisp_two{
    padding:6px 200px;
    margin:20px 24px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    border-bottom:2px solid  #21829c;
}
.pisp_thr{
    padding:6px 200px;
    margin:20px 44px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    border-bottom:2px solid  #21829c;
}

.send {
    position: absolute;
    left: 45%;
    transform: translateX(-50%) scale(1.2);
    top: 405%;
}

.yyz{
    position: absolute;
    left:80%;
    /* transform: translateX(-100%) scale(1.4); */
    top: 3100px;
}
.zzy{
    position: absolute;
    left:10%;
    /* transform: translateX(-100%) scale(1.4); */
    top: 3100px;
}

.ppp{
    position: absolute;
    left:45%;
    font-weight:bold;
    color: #21829c;
    top: 3200px;
}


@media(max-width: 1800px) {
    .top_btn {
        transform: scale(1);
    }
    .activity {
        transform: scale(1);
    }
    .get_demo {
        transform: scale(1);
    }
    .verify_leads_new {
        transform: scale(1);
    }
    .get_kyc_verified {
        transform: scale(1);
    }
    .hire_now {
        transform: scale(1);
    }
    .send {
        transform: scale(1);
    }
}
